body {
    background-color: white;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, #1D5997 , #1F9862);
    color: white;
    padding: 35px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.search-bar {
    text-align: center;
    width: 100%;
}

.search-input {
    width: 90%;
    padding: 8px;
    font-size: 17px;
    margin-right: 10px;
    vertical-align: middle
}

button {
    background-color: #1F9862;
    padding: 10px;
    border: none;
    border-radius: 2px;
    vertical-align: middle
}

.content {
    margin: 2%;
}

.item-title {
    width: 30%;
    padding-right: 5%;
}

.star {
    width: 2%;
}

h2 {
    padding: 10px;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.favorites {
    background-color: #F7FDF9;
    padding: 2%;
}

.favorited {
    color: green;
}

.notFavorited {
    color: grey;
}



